__pycache__
.ipynb_checkpoints
__pycache__
pubmed
slurm*
graph.csv
.DS_store
datasets
log*
*.zip
*.csv
ckpt*
*.txt
*.walks.0
*.adjlist
*.bak
cora*
dblp*
imdb*
data*
experiment_results
.vscode
data
results
params